footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    height: 6vh;
    background-color: #41337d;
}

footer p{
    width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
}

footer a{
    margin-right: 2em;
    color: white;
    text-decoration: none;
}