main{
    width: 100%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 80vh;
}
.home-main{
    position: relative;
}
.background-image-home{
    z-index: -1;
    min-height: 80vh;
    background-image: url('../images/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 0;
    width: 1000px;
}

.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.resume-container h1, .resume-container h2{
    text-align: center;
}

.description-resume{
    text-align: justify;
    width: 50%;
}

.background-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.resume-button{
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid #41337d;
    border-radius: 50px;
    color: #41337d;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.resume-button:hover{
    color: white;
    background-color: #41337d;
}

.skill-list{
    columns: 2;
}

.skill-list li{
    margin-right: 2em;
    margin-left: 2em;
}

.bio-container{
    margin: auto;
    width: 50%;
    position: relative;
    font-size: 1.35em;
    margin-top: 3em;
    text-align: center;
}
.bio-container h3{
    text-align: center;
}

.photo-container{
    margin: auto;
    width: 50%;
    position: relative;
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photo-container img{
    border: 2px solid #41337d;
    margin: auto;
    width: 210px;
    height: 230px;
    border-radius: 50%;
}
